.home-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 30px 10px;
    gap: 30px;
    color: white;
}

.topic {
    text-transform: capitalize;
}

.green {
    color:rgb(13, 136, 8)
}

.gray {
    color: gray;
}

.foods {
    display: flex;
    gap: 20px;
}
.food-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.food-item div {
    border: 3px solid #fff;
    width: 300px;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.food-item div:hover {
    color:#dc2bff40;
}
.food-item input {
    width: 50px;
    border: 3px solid #fff;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.loading {
    font-size: 120px;
    margin: auto;
    color: #fff;
}
.header p {
    text-align: left;
}

.view-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0 50px;
    font-size: 28px;
    width: fit-content;
    height: 80px;
    background: #3903fd2d;
    border: 3px solid #fff;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
}
.view-chart:hover {
    background-color: #ffffff1f;
    color: #fff;
}
.view-chart::selection {
    background-color: #00aef81f;
}