body {
  margin: 0;
  font-family: "Verdana" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #8D72E1, #7962bd);
  user-select: none;
}
